body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#FFFFFF;
  font-size: 18px;
  background-image: url('road.jpg');
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.blinkyDancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.person1{
  margin: 0;
  padding: 0;
  position:absolute;
  background-image: url('person1.gif');
  background-size: 50px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}
.person2{
  margin: 0;
  padding: 0;
  position:absolute;
  background-image: url('person2.gif');
  background-size: 50px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}
.person3{
  margin: 0;
  padding: 0;
  position:absolute;
  background-image: url('person3.gif');
  background-size: 50px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}
.airstrike{
  margin: 0;
  padding: 0;
  position:absolute;
  background-image: url('mushroomcloud.gif');
  background-size: 100px;
  width: 1000px;
  height: 1000px;
  background-repeat: no-repeat;
}
.bomb{
  margin: 0;
  padding: 0;
  position:absolute;
  background-image: url('mine.png');
  background-size: 20px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
.crawler{
  margin: 0;
  padding: 0;
  position:absolute;
  background-image: url('kodama.gif');
  background-size: 64px;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
}
.raindrop{
  border:10px solid blue;
  position:absolute;
  border-radius: 15px 5px 5px 5px;
  -webkit-transform: rotate(-135deg)  
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
